Nav{
    background: #013369;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 0.3rem 2rem 0.2rem 1.5rem;
}
Nav a{
    color: inherit;
    text-decoration: none;
}

Nav a:hover{
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

Nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

Nav li{
    margin: 13px;
    list-style: none;
    text-decoration: none;
}

Nav li.active{
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}


